<h3 align="center" style="color:blue">Engineering Courses</h3>
<table class="table table-bordered">
   
    <thead>
    <tr>
        <th>Courses</th>
        <th>Duration(Years)</th>
        
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>EEE(Machines,Electronics,Control Systems,)</td>
        <td>4</td>
        </tr>
        <tr>
            <td>CIVIL(Fluid Mechanics,Strength of Materials,Geotechnical Engineering,Concrete Technology.)</td>
            <td>4</td>
            </tr>
    <tr>
        <td>Diploma</td>
                <td>3</td>
                </tr>
    <tr>
                    <td>M.TECH</td>
                            <td>3</td>
    <tr>
    <td>B.E</td>
     <td>3</td>

     <tr>
        <td>M.tech</td>
                <td>3</td>
    </tr>
    <tr>
    <td>B.pharm</td>
        <td>3</td>
        </tr>
        <tr>
            <td>BBA</td>
                <td>3</td>
                </tr>

    </tbody>
    </table>