 
 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSilY1kOnYaLrXObiUIzQ4H2OkGMc8B_LIVw&usqp=CAU" align="left" height="100" width="100">
 <h1 align="center" style="color:rgb(236, 18, 18);">St.marys Group Of Institution</h1>
<h5 align="center" style="color:green"> Hyderabad, Telangana</h5>
<hr>
<h1> About Us</h1>
We offer a range of courses with specialized areas and can offer blended learning opportunities to best meet your career needs. If sitting in a room with a faculty and having the opportunity for discussion with other learners sounds good to you then St.Mary’s is the right place for you.

We create an atmosphere for you to enjoy your learning and upgrade your skills to meet and exceed in the academics and also be a responsible citizen of our nation.
<h3 style="color:blue">Vision:</h3>
Montfortian Education is committed to Gospel values of Equality, fraternity, freedom and human brotherhood, striving to transform the society through the education mission.

We, the Montfort Brothers of St. Gabriel together with all our associates, by our value based educational endeavors hope to build a fraternal society by moulding the personality of each individual under our care, trusting in God and drawing inspiration from our Founder St.Louis Marie De Montfort.

We shall strive to make socially conscious ad concerned individuals who reach the destined level of excellence and take up the resposibility as leader of intregrity with a preferential option for the less privileged.
<h3 style="color:blue">Mission:</h3>
We prepare the youth for life by promoting intellectual excellence, uprightness of character, emotional maturity, scientific temper, healthy competition, co-operation and sportsmanship through co-curricular activities, moral sensitivity to the needs and rights of others specially the most vulnerable, religious tolerance and national integration.

To achieve this along with academic excellence we focus our attention on the following.