<p>contactus works!</p>
<!-- Footer -->


<div class = "container">
  <router-outlet></router-outlet>
</div>


<h3 style="background-color:skyblue"><font style="color:brown">Contact Us:</font></h3><hr>

<h4 style="color:Black">Contact Details:</h4>
<h4>Mobile Number:</h4>
+(91)77290235390,27201375,
+91-40-27201160
<h4>Email-id</h4>
<a href= "stmarysgroup@gmail.com">stmarysgroup@gmail.com</a>
<footer class = "footer">
    <div class = "container">
      <h3 style="background-color:blue"><font style="color:black">All Rights Reserved 2020 @Copyrights</font></h3><hr>  
    </div>
</footer>