<h2 align="center" style="color:blue"> Welcome</h2>
<h1 align="center" style="color:rgb(236, 18, 18);">St.Marys Group Of Institution</h1>
<div class="header">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQO3yyBZHqXozNmtJBN8waOmL_IrCeNr_Id7g&usqp=CAU" align="left" hight="180" width="180">
<h1>ST.MARYS GROUP OF INSTITUTION </h1>
<p>("Join as a Student,Leave as a Highly Paid Professional")</p>
<p> Hyderabad, Telangana</p>
<img src="https://www.targetadmission.com/img/colleges/newc/36206-857514.png" align="center" height="500" width="500">
</div>
<html>
<head>
<title>STCET </title>
<style>
body {
font-family: Times New Roman;
margin: 0;
}
.header {
padding: 10px;
text-align: center;
background: cyan;
color: black;
font-size: 20px;
}
.content {padding:20px;}
</style>
</head>
<body>

